<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TyCottage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../static/img/icon.png"/>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" >
</head>
<body>
    <div class="login_body">
        <div class="login_box">
            <h3 class="login_title_name">TyCottage</h3>
            <input type="text" class="user" autofocus="autofocus"><br/>
            <input type="password" class="passwd"><br/>
        </div>
    </div>
</body>
<script>
</script>
</html>